.btn-main{
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #e22d4c;
  color: #fff;
}
.modal-content{
  border-radius: 1px !important;
}
.dropdown-item{
  padding: 10px !important;
}
.dropdown-item:hover{
  background-color: #e22d4c !important;
  color: #fff !important;
}